@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;

 
}

body{
  background-image: url("https://wallpaperaccess.com/full/885059.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#input {
  display: flex;
  align-items: center;
  color: black;
  background-color: aliceblue;
  margin: 10px;
  width: 35%;
  border-radius: 30px;
  padding: 5px;
  margin-left: 30%;
  border: none;

}
.list{
  color: aliceblue;
  text-align: center;
}
.table{
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
 font-size: larger;

}